#cycleBtn{
    background: #e1e8e5;
    width: 60px;
    height: 24px;
    border: 1px solid #9dd6c5;
    color: #5b9;
}

#cycleImg {
    margin-left: 6px;
    position: absolute;
    top: 1px;
    background-image: -webkit-image-set(url(http://img3.douban.com/f/fm/bc01a2265adb0a95c93687dac545fc2d42fd7f5e/pics/fm/fm-front-icon-homepage.png) 1x,url(http://img3.douban.com/f/fm/9a2a563422608f836df0d02b4f4ca7b54ad85aff/pics/fm/fm-front-icon-homepage@2x.png) 2x);
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/pics/fm/fm-front-icon-homepage.png',sizingMethod='crop');
    width: 22px;
    height: 22px;
}

#cycleInfo {
    color: #5b9;
    float: right;
    margin: 3px 5px 0 0;
}

#cycleWrapper {
    float: right;
    width: 70px;
    height: 26px;
    cursor: pointer;
    margin-right: 10px;
}

.cycleHover #cycleBtn {
    background-color: #9cd5c5;
}
.cycleHover #cycleInfo {
    color: #fff;
}

.cycleChosed #cycleBtn {
    background: #9cd5c5;
}
.cycleChosed #cycleInfo {
    color: #fff;
}